:root {
  --bg-color: #F1E9E4;
  --text-color: #BF8988;
  --name-color: #731808;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 60px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: white;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

h1 {
  color: var(--name-color); 
}
