:root {
  --bg-color: #ffffff;
  --text-color: #332524;
  --header-color: #731808;
  --heading-font: 'Arial', sans-serif;
  --body-font: 'Georgia', serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body-font);
  margin: 0;
  text-align: left;
  padding: 60px;
}

h1 {
  color: var(--header-color);
  font-family: Georgia;
  ont-weight: bold;
}

.navbar {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
}

.profile-break {
  background-image: url('images/profile-break-image.jpg');
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.bgImageFull {
  background-image: url('images/Emily_Tran_Res.pdf');
  height: 3740px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.resumeScroll {
  max-width: 100%;
  height: 800px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.dropdown { 
  z-index: 100; 
  position: absolute;
  top: 0;
  transform: translateY(0px);
  width: 100%;
  height: auto; 
  backdrop-filter: brightness(40%) blur(3px); /* Fixed syntax */
  box-shadow: 0 0 20px black;
  transition: 0.2s linear;
}

.dropdown .links a { 
  color: white; 
  display: flex; 
  text-decoration: none; 
  justify-content: center;
  padding: 15px 0; 
  align-items: center;
  transition: 0.2s linear;
}

.dropdown .links a:hover {
  background-color: var(--bg-color);
}
  
