:root {
  --bg-color: #ffff;
  --text-color: #332524;
  --name-color: #731808;
}

body, .navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
}

body {
  text-align: left;
  padding: 60px;
}

.navbar {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

h1 {
  color: var(--name-color);
  font-size: 48px;
}

.div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.div.scroll-container img {
  padding: 10px;
}
.resume-link:hover {
  background-color: #500d05; 
}
